@import "tailwindcss";

@theme {
  --color-brand: #d29e0e;
  --color-brand-dark: #b8860b;
  --color-brand-light: #e6b323;
  
  --font-display: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}